<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ChordMaker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <!-- selezione della tonica -->
    <ion-chip color="secondary" (click)="helper($event, 'helper-title.tonality', 'helper-content.tonality')">
      <ion-label color="dark">{{'chordmaker.select_tonality' | translate}}</ion-label>
      <ion-icon name="help-circle"></ion-icon>
    </ion-chip>


    <ion-item>
      <ion-icon [name]="'trash'" color="danger" slot="start" (click)="deleteKey()"></ion-icon>
      <ion-label>{{'chordmaker.tonality' | translate}}</ion-label>
      <ion-select [(ngModel)]="keyplace" interface="popover" (ionChange)="selectedKey($event)">
        <ion-select-option *ngFor="let tonality of musicData.tonalities">{{tonality.Name}}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>


  <ion-list *ngIf="keyplace">

    <!-- disegnamo i componenti dell'accordo -->
    <ion-chip color="secondary" (click)="helper($event, 'helper-title.notes', 'helper-content.notes')">
      <ion-label color="dark">{{'chordmaker.select_notes' | translate}}</ion-label>
      <ion-icon name="help-circle"></ion-icon>
    </ion-chip>

    <ion-item *ngFor="let component of components; let idx = index; let lst = last">
      <ion-icon *ngIf="!lst" [name]="'trash'" color="danger" slot="start" (click)="deleteNote(idx)"></ion-icon>
      <ion-icon *ngIf="lst" [name]="'arrow-dropright'" color="medium" slot="start"></ion-icon>
      <ion-label>{{'chordmaker.notes' | translate}}</ion-label>
      <ion-select [(ngModel)]="component.selected" interface="popover" (ionChange)="selectedNote(idx, component)">
        <ng-container *ngFor="let interval of component.intervals">
          <ion-select-option *ngIf="!interval.hide">{{interval.name}}</ion-select-option>
        </ng-container>
      </ion-select>
      <ion-checkbox slot="end" color="success" [disabled]="!component.octaveEnable"
        [(ngModel)]="component.octaveSelected"></ion-checkbox>
    </ion-item>

    <ion-card *ngIf="components.length > 3">
      <ion-card-header>
        <ion-card-title>{{ FinalChords[0] }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Also known as
        <strong><ng-container *ngFor="let chords of FinalChords; let lst = last; let fst = first">
          <ion-text *ngIf="!lst && !fst">{{chords}}, </ion-text>
          <ion-text *ngIf="lst">{{chords}}</ion-text>
        </ng-container></strong>
      </ion-card-content>
      <ion-card-content>
        <ion-button>play</ion-button>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>