<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ChordMaker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let tile of tiles">

        <ion-button [color]="tile.color" expand="block" class="tiles" (click)="selectTile(tile)">

          {{tile.name}}

        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card *ngFor="let chord of chords">
    <ion-card-header (click)="toggleCard(chord)">
      <ion-card-title>{{chord.symbol}}</ion-card-title>
      <ion-card-subtitle *ngIf="chord.show"> {{chord.name}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngIf="chord.show">
      <ion-text *ngIf="chord.tonic">tonic: {{chord.tonic}} <br></ion-text>
      <ion-text *ngIf="chord.root">root: {{chord.root}}<br></ion-text>
      <ion-text *ngIf="chord.intervals">intervals: {{beautify(chord.intervals)}} <br></ion-text>
      <ion-text *ngIf="chord.type"> type: {{chord.type}} <br></ion-text>
      <ion-text *ngIf="chord.aliases"> aliases: {{beautify(chord.aliases)}} <br><br></ion-text>

      <ion-text *ngIf="chord.extensions != ''"> extensions: {{beautify(chord.extensions)}} <br></ion-text>

      <ion-text *ngIf="chord.reductions != ''"> reductions: {{beautify(chord.reductions)}}<br> <br></ion-text>

      <ion-select [(ngModel)]="myInstrument" placeholder="Piano" slot="end" color="light" interface="popover"
        (ionChange)="selectInstrument()">
        <ion-select-option *ngFor="let instrument of instruments" [value]="instrument"> {{ instrument }}
        </ion-select-option>
      </ion-select>
      <ion-button color="secondary" (click)="playChord(chord, 'chord')"> play chord </ion-button>
      <ion-button color="secondary" (click)="playChord(chord, 'arp')"> play arpeggio </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>