<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-title style="padding: 0; text-align: left;">
        {{'home.chordmaker' | translate}}
      </ion-title>
      <ion-icon name="information-circle-outline" color="medium" size="large" slot="end" (click)="openModal()">
      </ion-icon>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let tile of tiles" class="col-tiles">

        <ion-button [color]="tile.color" (click)="selectTile(tile)" class="button-tiles">

          <ion-text class="button-title">
            {{tile.name | musicNotation}}
          </ion-text>

        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card *ngFor="let chord of chords" style="border: 1px solid grey;">
    <ion-card-header (click)="toggleCard(chord)">
      <ion-card-title class="card-title">{{chord.symbol | musicNotation}}</ion-card-title>
      <ion-card-subtitle *ngIf="chord.show" class="card-subtitle"> {{chord.name | musicNotation}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngIf="chord.show" class="card-content">
      <ion-text *ngIf="chord.tonic">{{'tonic' | translate}}: {{chord.tonic | musicNotation}} <br></ion-text>
      <ion-text *ngIf="chord.root">{{'root' | translate}}: {{chord.root | musicNotation}}<br></ion-text>
      <ion-text *ngIf="chord.intervals != ''">{{'intervals' | translate}}: {{beautify(chord.intervals,
        false)}}
        <br>
      </ion-text>
      <ion-text *ngIf="chord.type"> {{'type' | translate}}: {{chord.type}} <br></ion-text>
      <ion-text *ngIf="chord.aliases != []"> {{'aliases' | translate}}: {{beautify(chord.aliases)}} <br><br>
      </ion-text>

      <ng-container *ngIf="!expandExtensions">
        <ion-text *ngIf="chord.extensions != ''" class="center"> {{'extensions' | translate}}:
          {{beautify(chord.extensions.slice(0, 3))}}
          <ion-icon *ngIf="chord.extensions.length > 3" name="ellipsis-horizontal" style="padding-left: 3%;"
            (click)="expandExtensions=true"></ion-icon> <br>
        </ion-text>
      </ng-container>

      <ng-container *ngIf="expandExtensions">
        <ion-text *ngIf="chord.extensions != ''" class="center"> {{'extensions' | translate}}:
          {{beautify(chord.extensions)}}
        </ion-text>
        <ion-icon *ngIf="chord.extensions.length > 3" name="ellipsis-horizontal" (click)="expandExtensions=false">
        </ion-icon>
        <br>
      </ng-container>


      <ng-container *ngIf="!expandReduction">
        <ion-text *ngIf="chord.reductions != ''" class="center"> {{'reductions' | translate}}:
          {{beautify(chord.reductions.slice(0, 3))}}
          <ion-icon *ngIf="chord.reductions.length > 3" name="ellipsis-horizontal" style="padding-left: 3%;"
            (click)="expandReduction=true"></ion-icon> <br>
        </ion-text>
      </ng-container>

      <ng-container *ngIf="expandReduction">
        <ion-text *ngIf="chord.reductions != ''" class="center"> {{'reductions' | translate}}:
          {{beautify(chord.reductions)}}
        </ion-text>
        <ion-icon *ngIf="chord.reductions.length > 3" name="ellipsis-horizontal" (click)="expandReduction=false">
        </ion-icon>

      </ng-container>
      <br>

      <ion-button color="secondary" (click)="playChord(chord, 'chord')"> {{'play_chord' | translate}}
      </ion-button>
      <ion-button color="secondary" (click)="playChord(chord, 'arp')"> {{'play_arp' | translate}}
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>