.col-tiles {
  text-transform: none;
  // border: 1px solid red;
  height: 14%;
}

.button-tiles {
  display: flex;
  align-items: center;
  justify-content: center;
  --border-radius: 5px;
  border-radius: 5px;
  margin: auto;
  height: 100%;
  border: 1px solid gray;
}

.button-title {
  font-size: 5vmin;
  font-weight: normal;
}

.card-subtitle {
    font-size: 4.5vmin;
    font-weight: normal;
  }

.card-content {
  font-size: 4vmin;
  font-weight: normal;
}

ion-grid {
    // border: 1px solid green;
    height: 70%;
}

ion-row {
    // border: 1px solid blue;
    height: 100%;
}