<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-title style="padding: 0; text-align: left;">
        {{'home.notefinder' | translate}}
      </ion-title>
      <ion-icon name="information-circle-outline" color="medium" size="large" slot="end" (click)="openModal()">
      </ion-icon>
    </ion-item>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <label *ngIf="!key"> {{'notefinder.insert' | translate}} </label>
    <ion-select [(ngModel)]="key" slot="end" color="light" interface="popover" (ionChange)="searchChord()">
      <ion-select-option *ngFor="let note of scale" [value]="note"> {{ note | musicNotation }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let tile of typesTiles">
        <ion-button [color]="tile.color" expand="block" class="button-tiles" (click)="selectTypeTile(tile)">
          {{'notefinder.'+tile.name | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12/5" *ngFor="let tile of gradesTiles">
        <ion-button [color]="tile.color" expand="block" class="button-tiles" (click)="selectGradeTile(tile)">
          {{tile.name | musicNotation}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar animated="true" class="button-tiles" [placeholder]="'notefinder.search' | translate" color="light"
    (ionChange)="getChords($event)"></ion-searchbar>

  <br>

  <ng-container *ngIf="filteredChords.length == 0 ">
    <ion-card *ngFor="let chord of chords" style="border: 1px solid grey;">
      <ion-card-header (click)="toggleCard(chord)" *ngIf="!chord.chord.empty">
        <ion-card-title>{{chord.chord.symbol | musicNotation}}</ion-card-title>

        <ion-card-subtitle *ngIf="chord.show && chord.chord.notes.length != 0"> notes: {{beautify(chord.chord.notes,
          true)}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="chord.show && chord.chord.name.trim() != key.trim()">
          {{chord.chord.name | musicNotation}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content *ngIf="chord.show">
        <ion-text *ngIf="chord.chord.tonic">tonic: {{chord.chord.tonic | musicNotation}} <br></ion-text>
        <ion-text *ngIf="chord.chord.root">root: {{chord.chord.root | musicNotation}}<br></ion-text>
        <ion-text *ngIf="chord.chord.intervals">intervals: {{beautify(chord.chord.intervals)}} <br></ion-text>
        <ion-text *ngIf="chord.chord.type"> type: {{chord.chord.type | musicNotation}} <br></ion-text>
        <ion-text *ngIf="chord.chord.aliases"> aliases: {{beautify(chord.chord.aliases, true)}}<br></ion-text>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- if the searchbar is active -->
  <ng-container *ngIf="filteredChords.length > 0 ">
    <ion-card *ngFor="let chord of filteredChords" style="border: 1px solid grey;">
      <ion-card-header (click)="toggleCard(chord)" *ngIf="!chord.chord.empty">

        <ion-card-title>{{chord.chord.symbol | musicNotation}}</ion-card-title>

        <ion-card-title *ngIf="chord.show && chord.chord.notes.length != 0"> {{beautify(chord.chord.notes, true)}}
        </ion-card-title>

        <ion-card-subtitle *ngIf="chord.show && chord.chord.name.trim() != key.trim()">
          {{chord.chord.name | musicNotation}}
        </ion-card-subtitle>

      </ion-card-header>

      <ion-card-content *ngIf="chord.show">
        <ion-text *ngIf="chord.chord.tonic">{{'tonic' | translate}}: {{chord.chord.tonic | musicNotation}} <br>
        </ion-text>
        <ion-text *ngIf="chord.chord.root">{{'root' | translate}}: {{chord.chord.root | musicNotation}}<br></ion-text>
        <ion-text *ngIf="chord.chord.intervals">{{'intervals' | translate}}: {{beautify(chord.chord.intervals)}} <br>
        </ion-text>
        <ion-text *ngIf="chord.chord.type"> {{'type' | translate}}: {{chord.chord.type | translate}}
          <br>
        </ion-text>
        <ion-text *ngIf="chord.chord.aliases"> {{'aliases' | translate}}: {{beautify(chord.chord.aliases,
          true)}}<br><br>
        </ion-text>

        <ion-button *ngIf="status[0]=='1'" color="secondary" (click)="playChord(chord, 'chord')">
          {{'play_chord' | translate}}
        </ion-button>

        <ion-button *ngIf="status[0]=='1'" color="secondary" (click)="playChord(chord, 'arp')">
          {{'play_arp' | translate}}
        </ion-button>

      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>