<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Option
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>

      <ion-list-header>
        <ion-label>Notation</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>American</ion-label>
        <ion-radio slot="start" value="american" checked></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>European</ion-label>
        <ion-radio slot="start" value="european"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</ion-content>
