// ion-grid, ion-row, ion-col {
//     height: 100%;
// }
// ion-col {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

ion-button, ion-slider {
    opacity: 1 !important;
}
ion-select {
    opacity: 1 !important;
    --background: var(--ion-color-light);
    --placeholder-color: var(--ion-color-dark);
    --placeholder-opacity: 1;
}

.box {
    border-radius: 10px;
    border: 2px solid  var(--ion-color-shade);
    background-color: var(--ion-color-light);
}

.boxText{
    padding: 2%;
}

.card-tiles {
    display: flex;
    align-items: center;
    justify-content: center;

    max-height: calc(--width *60/100);
    --width: 100%;
    width: 100%;
    margin: 0;
    border: 1px solid gray;
    color: var(--ion-color-light-contrast);
}


.button-tiles {
    text-transform: none;
    width: 100%;

    opacity: 1 !important;

    --background: var(--ion-color-light-null); //white
    color: var(--ion-color-light-contrast);

    padding: 0;
    --border-radius: 5px;
    border-radius: 5px;

    border: 1px solid gray;
}

.showColor {
    margin: 0 auto;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    border: 1px solid black;
    background-color: grey;
}

// ion-button{
//     opacity: 1!important;
//     color: var(--ion-color-light-contrast);
// }

.roundButton {
    --border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 100%;
}

.tap {
    width: 20vmin;
    height: 12vmin;
    opacity: 1;
    --border-color: var(--ion-color-secondary);
    --color: var(--ion-color-dark);
}