<ion-header id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Metronome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">

  <ion-list>
    <ion-item *ngFor="let track of metroData.tracks">
      <ion-label>Beats:</ion-label>
      <ion-button (click)="removeBeat(track)">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
      <ion-text style="padding: 3%;">{{track.beats}}</ion-text>
      <ion-button (click)="addBeat(track)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col class="playButton">
        <ion-button (click)="showModal();">
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding: 3%;" (click)="addTrack()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>