ion-content {
    height: 100%;
}

ion-input {
    text-align: right;
}

ion-text {
    padding-left: 3%;
    padding-right: 3%;
} 

.center {
    text-align: center;
}
 
.bpmNumber{
display: block;
    align-content: center!important;
    // align-items: center!important;
}