ion-content {
    height: 100%;
}

ion-input {
    text-align: right;
}

ion-label {
    font-weight: bolder; 
} 

ion-grid {
    height: 100%;
    // display: flex;
    // flex-flow: column;
    border: 2px solid red;
}

ion-row {
    // height: 100%;
    // flex-grow: 1;
    border: 2px solid green;
}

ion-row {
    // height: 100%;
    border: 2px solid blue;
}
 