<ion-header id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Metronome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-list>
          <ion-item *ngFor="let metronome of metronomes; let i=index">
            <ion-label>Beats:</ion-label>
            <ion-button (click)="metronome.removeBeat()">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-text style="padding: 3%;">{{metronome.beats}}</ion-text>
            <ion-button (click)="metronome.addBeat()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button (click)="showModal();">
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding: 3%;" (click)="fillMetroData()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>